* text=auto eol=lf

*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.geojson text eol=lf
*.md text eol=lf
*.svg text eol=lf
*.prj text eol=lf
*.cpg text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.avif binary
*.jfif binary
*.tif binary
*.pdf binary
*.zip binary
*.shp binary
*.shx binary
*.dbf binary
*.dxf binary
